$bg-color: rgb(2, 8, 23);
$hover-color: #38bdf8;
$text-color: #cbd5e1;
$border-color: rgba(255, 255, 255, 0.1);

header {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  border-bottom: 1px solid $border-color;
  background-color: $bg-color;
  backdrop-filter: blur(8px);
  transition: background-color 0.2s ease;

  &.scrolled {
    background-color: rgba(2, 8, 23, 0); // plus transparent au scroll
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  a {
    text-decoration: none;
    color: $text-color;
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.3s ease;

    &:hover {
      color: $hover-color;
    }
  }

  .logo {
    font-size: 1.25rem;
    font-weight: bold;
    color: $hover-color;
    font-family: 'Orbitron', sans-serif;
     animation: fadeSlideUp 0.8s ease forwards;
 
  }

  .nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
