.carousel-section {
  min-height: 100vh;
  padding: 4rem 1rem 15rem;
  background-color: #0f172a;
  color: #e2e8f0;
  text-align: center;

  
}

.carousel-title {
  font-size: 2rem;
  color: #38bdf8;
  margin-bottom: 2rem;
}

.carousel-wrapper {
  perspective: 1000px;
  height: 500px;
  position: relative;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.carousel-item {
  position: absolute;
  width: 275px;
  height: 550px;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  transform-style: preserve-3d;
  margin: -200px 0 0 -150px; /* centrer */
  background: rgba(30, 41, 59, 0.95);
  border: 2px solid #0ea5e9;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(14, 165, 233, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backface-visibility: hidden;
}

.carousel-item h3 {
  color: #7dd3fc;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.carousel-item a {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #0284c7;
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.carousel-item a:hover {
  background-color: #0369a1;
}

.controls {
  margin-top: 9rem;
}

.controls button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background: #0ea5e9;
  border: none;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;


}

.controls button:hover {
  background: #0369a1;
}
.carousel-item a {
  pointer-events: auto;
  z-index: 2;
  position: relative;
}

.carousel-item {
  pointer-events: auto;
}
