/* Reset CSS moderne - basé sur Josh Comeau / Andy Bell */
$bg-color: rgb(2, 8, 23);
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
   overflow-x: clip;
  height: 100%;
  font-family: system-ui, sans-serif;
 background-color: $bg-color;
  color: #000;
}
html {
  scroll-behavior: smooth;
 
}



img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Scrollbar entière */
::-webkit-scrollbar {
  width: 10px; /* largeur de la barre verticale */
  height: 10px; /* hauteur de la barre horizontale */
}

/* Fond de la scrollbar */
::-webkit-scrollbar-track {
  background: $bg-color; /* couleur du fond */
}

/* Curseur de la scrollbar */
::-webkit-scrollbar-thumb {
  background: #0284c7;/* couleur du curseur */
  border-radius: 10px;
}
